.about {
    padding: 20px;
    background-color: #d6d6d6;
    height: 100vh;
  }
  
  .about h2 {
    margin-bottom: 10px;
    
  }

  .about p{
    text-align: left;
    font-size: medium;
  } 

.subhead{
    font-size: larger;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
 }

ul,li{
  text-align: left;
}